@let translationKeys = this.translationKeys;
@let searchTerm = this.searchTerm();
@let keywords = this.keywords;

@let checkboxForm = this.checkboxForm;
@let toggleForm = this.toggleForm;
@let radioOptions = this.radioOptions;
@let radioForm = this.radioForm;
@let buttonToggleOptions = this.buttonToggleOptions;
@let buttonToggleForm = this.buttonToggleForm;

@if (searchTerm | searchFilter: keywords) {
  <app-panel [titleText]="translationKeys.showcase.sections.toggles | translate">
    <div class="showcase-row">
      <app-checkbox [control]="checkboxForm.checked">Checked</app-checkbox>
      <app-checkbox [control]="checkboxForm.unchecked">Unchecked</app-checkbox>
      <app-checkbox
        [control]="checkboxForm.indeterminate"
        [isIndeterminate]="true"
        >Indeterminate</app-checkbox
      >
      <app-checkbox [control]="checkboxForm.disabled">Disabled</app-checkbox>
      <app-checkbox
        [control]="checkboxForm.labelBefore"
        labelPosition="before"
        >Label before</app-checkbox
      >
    </div>
    <div class="showcase-row">
      <app-toggle [control]="toggleForm.toggle">Toggle</app-toggle>
      <app-toggle [control]="toggleForm.on">On</app-toggle>
      <app-toggle [control]="toggleForm.disabled">Disabled</app-toggle>
      <app-toggle
        [control]="toggleForm.labelBefore"
        labelPosition="before"
        >Label before</app-toggle
      >
    </div>
    <div class="showcase-row">
      <app-radio-button
        [control]="radioForm.selected"
        [radioValues]="radioOptions" />
      <app-radio-button
        [control]="radioForm.selected"
        [radioValues]="radioOptions"
        alignItems="column" />
    </div>
    <div class="showcase-row">
      <app-button-toggle
        [control]="buttonToggleForm.single"
        [options]="buttonToggleOptions" />
      <app-button-toggle
        [control]="buttonToggleForm.multi"
        [options]="buttonToggleOptions"
        [multiple]="true" />
    </div>
    <app-chip-set class="showcase-row showcase-chips">
      <app-chip>Plain chip</app-chip>
      <app-chip [removable]="true">Removable</app-chip>
      <app-chip avatarUrl="https://i.pravatar.cc/24">With avatar</app-chip>
      <app-chip [disabled]="true">Disabled</app-chip>
    </app-chip-set>
  </app-panel>
}
