@let stepperService = this.stepperService();
@let titleText = this.titleText();
@let descriptionText = this.descriptionText();
@let disabled = this.disabled();
@let hideToggle = this.hideToggle();
@let isExpanded = this.isExpanded();
@let step = this.step();
@let previousLabelKey = this.previousLabelKey();
@let nextLabelKey = this.nextLabelKey();
@let closeLabelKey = this.closeLabelKey();

<mat-expansion-panel
  [disabled]="disabled"
  [expanded]="isExpanded"
  [hideToggle]="hideToggle"
  (opened)="onOpened()">
  <mat-expansion-panel-header>
    <mat-panel-title>{{ titleText }}</mat-panel-title>
    <mat-panel-description>
      {{ descriptionText }}
      <ng-content select="[description]"></ng-content>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-content></ng-content>

  @if (stepperService) {
    <mat-action-row>
      @if (stepperService.minStep() !== step) {
        <app-button
          variant="stroked"
          (clicked)="stepperService.prevStep()">
          {{ previousLabelKey | translate }}
        </app-button>
      }
      @if (stepperService.maxStep() !== step) {
        <app-button
          variant="stroked"
          (clicked)="stepperService.nextStep()">
          {{ nextLabelKey | translate }}
        </app-button>
      }
      @if (stepperService.maxStep() === step) {
        <app-button
          variant="stroked"
          (clicked)="stepperService.close()">
          {{ closeLabelKey | translate }}
        </app-button>
      }
    </mat-action-row>
  }
</mat-expansion-panel>
