@let labelText = this.labelText();
@let placeholder = this.placeholder();
@let appearance = this.appearance();
@let floatLabel = this.floatLabel();
@let control = this.control();
@let minDate = this.minDate();
@let maxDate = this.maxDate();
@let hasError = this.hasError();
@let errorText = this.errorText();
@let supportingText = this.supportingText();
@let useTouchUi = this.useTouchUi();

<mat-form-field
  class="app-date-picker"
  [appearance]="appearance"
  [floatLabel]="floatLabel">
  @if (labelText) {
    <mat-label>{{ labelText }}</mat-label>
  }
  <input
    matInput
    [matDatepicker]="picker"
    [formField]="control"
    [placeholder]="placeholder"
    [min]="minDate"
    [max]="maxDate" />
  <mat-datepicker-toggle
    matIconSuffix
    [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker
    #picker
    [touchUi]="useTouchUi"></mat-datepicker>
  @if (hasError && errorText) {
    <mat-error [matTooltip]="errorText">{{ errorText }}</mat-error>
  } @else if (supportingText) {
    <mat-hint>{{ supportingText }}</mat-hint>
  }
</mat-form-field>
