.load-more-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: var(--app-spacing-md);
  padding: var(--app-spacing-md);
}

.load-more-process-indicator {
  margin-top: var(--app-spacing-sm);
}

.load-more-button {
  margin-top: var(--app-spacing-md);
}
