.load-more-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
}

.load-more-process-indicator {
  margin-top: 12px;
}

.load-more-button {
  margin-top: 16px;
}
