@let variant = this.variant();
@let icon = this.icon();
@let tooltip = this.tooltip();
@let loading = this.loading();
@let outlined = this.outlined();
@let isInteractionBlocked = this.isInteractionBlocked();

@switch (variant) {
  @case ('basic') {
    <button
      mat-button
      [disabled]="isInteractionBlocked"
      [matTooltip]="tooltip"
      (click)="clicked.emit()">
      <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </button>
  }
  @case ('raised') {
    <button
      mat-raised-button
      [disabled]="isInteractionBlocked"
      [matTooltip]="tooltip"
      (click)="clicked.emit()">
      <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </button>
  }
  @case ('flat') {
    <button
      mat-flat-button
      [disabled]="isInteractionBlocked"
      [matTooltip]="tooltip"
      (click)="clicked.emit()">
      <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </button>
  }
  @case ('stroked') {
    <button
      mat-stroked-button
      [disabled]="isInteractionBlocked"
      [matTooltip]="tooltip"
      (click)="clicked.emit()">
      <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </button>
  }
  @case ('icon') {
    <button
      mat-icon-button
      [disabled]="isInteractionBlocked"
      [matTooltip]="tooltip"
      (click)="clicked.emit()">
      <ng-container *ngTemplateOutlet="iconOnly"></ng-container>
    </button>
  }
  @case ('fab') {
    <button
      mat-mini-fab
      [disabled]="isInteractionBlocked"
      [matTooltip]="tooltip"
      (click)="clicked.emit()">
      <ng-container *ngTemplateOutlet="iconOnly"></ng-container>
    </button>
  }
  @case ('extended-fab') {
    <button
      mat-fab
      extended
      [disabled]="isInteractionBlocked"
      [matTooltip]="tooltip"
      (click)="clicked.emit()">
      <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </button>
  }
}

<ng-template #contentTpl>
  <span class="button-content">
    @if (loading) {
      <app-icon
        class="is-loading"
        [outlined]="outlined">
        progress_activity
      </app-icon>
    } @else if (icon) {
      <app-icon [outlined]="outlined">{{ icon }}</app-icon>
    }
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </span>
</ng-template>

<ng-template #iconOnly>
  @if (loading) {
    <app-icon
      class="is-loading"
      [outlined]="outlined">
      progress_activity
    </app-icon>
  } @else if (icon) {
    <app-icon [outlined]="outlined">{{ icon }}</app-icon>
  } @else {
    <app-icon [outlined]="outlined">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </app-icon>
  }
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
