.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--app-spacing-md);
  gap: var(--app-spacing-sm);
}

.card-footer {
  margin-top: var(--app-spacing-md);
}

.custom-outlined-card {
  display: flex;
  background: var(--app-color-surface);
  border-radius: var(--app-shape-corner-medium);
  border: 1px solid var(--app-color-outline-variant);
  padding: var(--app-spacing-xl);
  flex-direction: column;
  align-items: flex-start;
}

.custom-outlined-card .card-header {
  margin-bottom: var(--app-spacing-md);
}

.custom-outlined-card .card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
