@let translationKeys = this.translationKeys;
@let isSubmitting = this.isSubmitting();
@let isInitializing = this.isInitializing();
@let canResetPassword = this.canResetPassword();
@let confirmPasswordError = this.confirmPasswordError();
@let resetForm = this.resetForm;

<app-auth-layout
  [titleKey]="translationKeys.auth.passwordReset.title"
  [descriptionKey]="translationKeys.auth.passwordReset.description">
  @if (isInitializing) {
    <app-progress-indicator />
  } @else if (!canResetPassword) {
    <app-info [type]="'warning'">
      {{ translationKeys.auth.errors.recoveryLinkInvalid | translate }}
    </app-info>
    <p class="password-reset__footer">
      <a [routerLink]="loginLink">{{ translationKeys.auth.passwordReset.backToLogin | translate }}</a>
    </p>
  } @else {
    <form
      class="password-reset-form"
      (ngSubmit)="onSubmit()">
      <app-input
        [control]="resetForm.password"
        [type]="'password'"
        [label]="translationKeys.auth.fields.newPassword | translate" />
      <app-input
        [control]="resetForm.confirmPassword"
        [type]="'password'"
        [label]="translationKeys.auth.fields.confirmPassword | translate"
        [errorText]="confirmPasswordError ?? ''" />

      <app-button
        [variant]="'flat'"
        [loading]="isSubmitting"
        [disabled]="isSubmitting"
        (clicked)="onSubmit()">
        {{ translationKeys.auth.passwordReset.submit | translate }}
      </app-button>
    </form>
  }
</app-auth-layout>
