@let isSubmitting = this.isSubmitting();
@let isInitializing = this.isInitializing();
@let canResetPassword = this.canResetPassword();
@let passwordError = this.getPasswordError(passwordControl);
@let confirmPasswordError = this.getConfirmPasswordError(confirmPasswordControl);

<app-auth-layout
  [titleKey]="translationKeys.passwordReset.title"
  [descriptionKey]="translationKeys.passwordReset.description">
  @if (isInitializing) {
    <app-progress-indicator />
  } @else if (!canResetPassword) {
    <app-info [type]="'warning'">
      {{ translationKeys.errors.recoveryLinkInvalid | translate }}
    </app-info>
    <p class="password-reset__footer">
      <a [routerLink]="loginLink">{{ translationKeys.passwordReset.backToLogin | translate }}</a>
    </p>
  } @else {
    <form
      class="password-reset-form"
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit()">
      <app-input
        [control]="passwordControl"
        [type]="'password'"
        [labelText]="translationKeys.fields.newPassword | translate"
        [errorText]="passwordError" />
      <app-input
        [control]="confirmPasswordControl"
        [type]="'password'"
        [labelText]="translationKeys.fields.confirmPassword | translate"
        [errorText]="confirmPasswordError" />

      <app-button
        [variant]="'flat'"
        [loading]="isSubmitting"
        [disabled]="isSubmitting"
        (clicked)="onSubmit()">
        {{ translationKeys.passwordReset.submit | translate }}
      </app-button>
    </form>
  }
</app-auth-layout>
