@let icons = this.icons;
@let labelText = this.labelText();
@let placeholder = this.placeholder();
@let appearance = this.appearance();
@let floatLabel = this.floatLabel();
@let filteredOptions = this.filteredOptions();
@let control = this.control();
@let canClear = this.canClear();
@let hasError = this.hasError();
@let errorText = this.errorText();

<mat-form-field
  class="app-input-select-search"
  [appearance]="appearance"
  [floatLabel]="floatLabel">
  @if (labelText) {
    <mat-label>{{ labelText }}</mat-label>
  }
  <input
    #searchInput
    matInput
    type="text"
    [formField]="control"
    [placeholder]="placeholder"
    [matAutocomplete]="auto"
    (input)="onInput(searchInput.value)" />
  <mat-autocomplete
    #auto="matAutocomplete"
    requireSelection
    [displayWith]="displayWith"
    (closed)="onClosed()">
    @for (option of filteredOptions; track option.id) {
      <mat-option [value]="option.id">{{ option.name }}</mat-option>
    }
  </mat-autocomplete>

  @if (canClear) {
    <button
      matSuffix
      mat-icon-button
      type="button"
      aria-label="Clear"
      (click)="clear()">
      <app-icon>{{ icons.clear }}</app-icon>
    </button>
  } @else if (hasError) {
    <app-icon
      matSuffix
      class="app-input-select-search-error-icon">
      {{ icons.error }}
    </app-icon>
  } @else {
    <app-icon matSuffix>{{ icons.expandMore }}</app-icon>
  }

  @if (hasError && errorText) {
    <mat-error [matTooltip]="errorText">{{ errorText }}</mat-error>
  }
</mat-form-field>
