@let labelText = this.labelText();
@let fromLabel = this.fromLabel();
@let toLabel = this.toLabel();
@let appearance = this.appearance();
@let floatLabel = this.floatLabel();
@let control = this.control();
@let minDate = this.minDate();
@let maxDate = this.maxDate();
@let hasError = this.hasError();
@let errorText = this.errorText();
@let supportingText = this.supportingText();
@let useTouchUi = this.useTouchUi();

<mat-form-field
  class="app-date-range-picker"
  [appearance]="appearance"
  [floatLabel]="floatLabel">
  @if (labelText) {
    <mat-label>{{ labelText }}</mat-label>
  }
  <mat-date-range-input
    [rangePicker]="picker"
    [min]="minDate"
    [max]="maxDate">
    <input
      matStartDate
      [formField]="control.start"
      [placeholder]="fromLabel" />
    <input
      matEndDate
      [formField]="control.end"
      [placeholder]="toLabel" />
  </mat-date-range-input>
  <mat-datepicker-toggle
    matIconSuffix
    [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker
    #picker
    [touchUi]="useTouchUi"></mat-date-range-picker>
  @if (hasError && errorText) {
    <mat-error [matTooltip]="errorText">{{ errorText }}</mat-error>
  } @else if (supportingText) {
    <mat-hint>{{ supportingText }}</mat-hint>
  }
</mat-form-field>
