@let translationKeys = this.translationKeys;
@let searchTerm = this.searchTerm();
@let keywords = this.keywords;

@let datePickerForm = this.datePickerForm;
@let dateRangeForm = this.dateRangeForm;

@if (searchTerm | searchFilter: keywords) {
  <app-panel [titleText]="translationKeys.showcase.sections.date | translate">
    <div class="showcase-grid">
      <app-date-picker
        labelText="Single date"
        [control]="datePickerForm.single" />
      <app-date-picker
        labelText="Filled"
        appearance="fill"
        [control]="datePickerForm.single" />
      <app-date-picker
        labelText="Disabled"
        [control]="datePickerForm.disabled" />
      <app-date-range-picker
        labelText="Date range"
        fromLabel="From"
        toLabel="To"
        [control]="dateRangeForm.range" />
    </div>
  </app-panel>
}
