@use '@angular/material' as mat;
@use '../variables/palette' as palette;

$dark-config: (
  color: (
    theme-type: dark,
    primary: palette.$primary-palette,
    tertiary: palette.$tertiary-palette,
  ),
  typography: palette.$typography-config,
  density: (
    scale: -3,
  ),
);
$dark-theme: mat.define-theme($dark-config);
