@use '@angular/material' as mat;
@use '../variables/palette' as palette;

$light-config: (
  color: (
    theme-type: light,
    primary: palette.$primary-palette,
    tertiary: palette.$tertiary-palette,
  ),
  typography: palette.$typography-config,
  density: (
    scale: 0,
  ),
);
$light-theme: mat.define-theme($light-config);
