@let icons = this.icons;
@let appearance = this.appearance();
@let floatLabel = this.floatLabel();
@let label = this.label();
@let placeholder = this.placeholder();
@let type = this.type();
@let rows = this.rows();
@let leadingIcon = this.leadingIcon();
@let trailingIcon = this.trailingIcon();
@let supportingText = this.supportingText();
@let errorText = this.resolvedErrorText();
@let control = this.control();
@let hasError = this.hasError();
@let canClear = this.canClear();

<mat-form-field
  class="app-input"
  [appearance]="appearance"
  [floatLabel]="floatLabel">
  @if (label) {
    <mat-label>{{ label }}</mat-label>
  }
  @if (leadingIcon) {
    <app-icon matPrefix>{{ leadingIcon }}</app-icon>
  }
  @switch (type) {
    @case ('textarea') {
      <textarea
        matInput
        [rows]="rows"
        [placeholder]="placeholder"
        [formField]="control"></textarea>
    }
    @default {
      <input
        matInput
        [type]="type"
        [placeholder]="placeholder"
        [formField]="control" />
    }
  }

  @if (canClear) {
    <button
      matSuffix
      mat-icon-button
      type="button"
      aria-label="Clear"
      (click)="clear()">
      <app-icon>{{ icons.clear }}</app-icon>
    </button>
  } @else if (hasError) {
    <app-icon
      matSuffix
      class="app-input-error-icon">
      {{ icons.error }}
    </app-icon>
  } @else if (trailingIcon) {
    <app-icon matSuffix>{{ trailingIcon }}</app-icon>
  }

  @if (hasError && errorText) {
    <mat-error [matTooltip]="errorText">{{ errorText }}</mat-error>
  } @else if (supportingText) {
    <mat-hint>{{ supportingText }}</mat-hint>
  }
</mat-form-field>
