.filled-button {
  background-color: var(--app-color-primary-container);
  color: var(--app-color-on-primary-container);
}

.menu-icon {
  margin-right: var(--app-spacing-2xs);
}

.mat-menu__content {
  display: flex;
  gap: var(--app-spacing-2xs);
}
