@let icons = this.icons;
@let translationKeys = this.translationKeys;
@let searchTerm = this.searchTerm();
@let keywords = this.keywords;
@let tabs = this.tabs;

@if (searchTerm | searchFilter: keywords) {
  <app-panel [titleText]="translationKeys.showcase.sections.navigation | translate">
    <app-tab-group [tabs]="tabs" />

    <div class="showcase-row">
      <app-menu [icon]="icons.more">
        <app-menu-item [icon]="icons.edit">Edit</app-menu-item>
        <app-menu-item [icon]="icons.duplicate">Duplicate</app-menu-item>
        <app-menu-item
          [icon]="icons.delete"
          tooltip="Removes the item"
          >Delete</app-menu-item
        >
        <app-menu-item
          [icon]="icons.block"
          [disabled]="true"
          >Disabled</app-menu-item
        >
      </app-menu>

      <app-menu
        labelText="Labelled menu"
        [icon]="icons.navSettings">
        <app-menu-item [icon]="icons.navShowcase">Theme</app-menu-item>
        <app-menu-item [icon]="icons.translate">Language</app-menu-item>
      </app-menu>

      <app-menu
        labelText="Filled"
        appearance="filled">
        <app-menu-item>Option A</app-menu-item>
        <app-menu-item>Option B</app-menu-item>
      </app-menu>

      <app-menu labelText="Links">
        <app-menu-link
          href="/tasks"
          [icon]="icons.success"
          >Tasks</app-menu-link
        >
        <app-menu-link
          href="https://anthropic.com"
          [icon]="icons.openInNew"
          [externalLink]="true"
          target="_blank">
          External
        </app-menu-link>
      </app-menu>
    </div>
  </app-panel>
}
