@let translationKeys = this.translationKeys;
@let searchTerm = this.searchTerm();
@let keywords = this.keywords;

@let inputForm = this.inputForm;
@let selectItems = this.selectItems;
@let selectForm = this.selectForm;
@let autocompleteForm = this.autocompleteForm;
@let searchForm = this.searchForm;

@if (searchTerm | searchFilter: keywords) {
  <app-panel [titleText]="translationKeys.showcase.sections.inputs | translate">
    <div class="showcase-grid">
      <app-input
        label="Text"
        [control]="inputForm.text"
        [isClearable]="true" />
      <app-input
        label="Number"
        type="number"
        [control]="inputForm.number" />
      <app-input
        label="Password"
        type="password"
        [control]="inputForm.password" />
      <app-input
        label="Email"
        type="email"
        [control]="inputForm.email"
        [leadingIcon]="icons.search" />
      <app-input
        label="Textarea"
        type="textarea"
        [control]="inputForm.textarea"
        [rows]="4" />
      <app-input
        label="Disabled"
        [control]="inputForm.disabled" />
      <app-input
        label="Read-only"
        [control]="inputForm.readonly" />
    </div>
    <div class="showcase-grid">
      <app-input-select
        labelText="Single select"
        [control]="selectForm.single"
        [items]="selectItems" />
      <app-input-select
        labelText="Multi select"
        [control]="selectForm.multi"
        [items]="selectItems"
        [multiple]="true" />
      <app-input-select-search
        labelText="Autocomplete"
        [control]="autocompleteForm.selected"
        [items]="selectItems" />
    </div>
    <div class="showcase-row">
      <app-search
        class="showcase-search"
        placeholder="Search…"
        [control]="searchForm.query" />
    </div>
  </app-panel>
}
