.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  width: fit-content;
}

.info-content {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.info-container-error {
  background-color: var(--app-color-error-container);
  color: var(--app-color-on-error-container);
}

.info-container-info {
  background-color: var(--app-color-surface-container-high);
  color: var(--app-color-on-surface);
}

.info-container-primary {
  background-color: var(--app-color-primary-container);
  color: var(--app-color-on-primary-container);
}

.info-container-success {
  background-color: var(--app-color-tertiary-container);
  color: var(--app-color-on-tertiary-container);
}

.info-container-warning {
  background-color: var(--app-color-error-container);
  color: var(--app-color-on-error-container);
}
