.text-readonly-container {
  display: flex;
  flex-direction: column;
  gap: var(--app-spacing-2xs);
}

.text-readonly-label {
  font-size: 12px;
  font-weight: 600;
  color: var(--app-color-on-surface-variant);
}

.text-readonly-value {
  font-size: 14px;
  color: var(--app-color-on-surface);
}
