.text-readonly-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text-readonly-label {
  font-size: 12px;
  font-weight: 600;
  color: var(--mat-sys-on-surface-variant);
}

.text-readonly-value {
  font-size: 14px;
  color: var(--mat-sys-on-surface);
}
