@let translationKeys = this.translationKeys;
@let icons = this.icons;
@let searchTerm = this.searchTerm();
@let keywords = this.keywords;

@if (searchTerm | searchFilter: keywords) {
  <app-panel [titleText]="translationKeys.showcase.sections.buttons | translate">
    <div class="showcase-row">
      <app-button variant="basic">Basic</app-button>
      <app-button variant="raised">Raised</app-button>
      <app-button variant="flat">Flat</app-button>
      <app-button variant="stroked">Stroked</app-button>
      <app-button
        variant="icon"
        [icon]="icons.favorite" />
      <app-button
        variant="fab"
        [icon]="icons.add" />
      <app-button
        variant="extended-fab"
        [icon]="icons.edit"
        >Extended FAB</app-button
      >
      <app-button [disabled]="true">Disabled</app-button>
      <app-button [loading]="true">Loading</app-button>
      <app-button [icon]="icons.archive">With Icon</app-button>
      <app-button
        [loading]="true"
        [icon]="icons.edit"
        >With Icon, but loading</app-button
      >
    </div>
    <div class="showcase-row">
      <app-link
        variant="basic"
        href="#"
        >Basic link</app-link
      >
      <app-link
        variant="flat"
        href="#"
        >Flat link</app-link
      >
      <app-link
        variant="stroked"
        href="#"
        >Stroked link</app-link
      >
      <app-link
        variant="icon"
        [icon]="icons.openInNew"
        href="#" />
      <app-link
        href="#"
        target="_blank"
        >External</app-link
      >
    </div>
    <div class="showcase-row">
      <app-icon>{{ icons.info }}</app-icon>
      <app-icon backgroundColor="icon-info">{{ icons.info }}</app-icon>
      <app-icon backgroundColor="icon-success">{{ icons.success }}</app-icon>
      <app-icon backgroundColor="icon-warning">{{ icons.warning }}</app-icon>
      <app-icon backgroundColor="icon-error">{{ icons.error }}</app-icon>
      <app-icon iconSize="icon-header-size">{{ icons.time }}</app-icon>
    </div>
  </app-panel>
}
