@let icons = this.icons;
@let label = this.label();
@let placeholder = this.placeholder();
@let control = this.control();
@let canClear = this.canClear();

<mat-form-field
  class="app-search"
  appearance="outline">
  @if (label) {
    <mat-label>{{ label }}</mat-label>
  }
  <app-icon matPrefix>{{ icons.search }}</app-icon>
  <input
    matInput
    type="text"
    [formField]="control"
    [placeholder]="placeholder"
    (keydown.enter)="onEnter()" />
  @if (canClear) {
    <button
      matSuffix
      mat-icon-button
      type="button"
      aria-label="Clear"
      (click)="clear()">
      <app-icon>{{ icons.clear }}</app-icon>
    </button>
  }
</mat-form-field>
