@let translationKeys = this.translationKeys;
@let isSubmitting = this.isSubmitting();
@let confirmPasswordError = this.confirmPasswordError();
@let registerForm = this.registerForm;

<app-auth-layout
  [titleKey]="translationKeys.auth.register.title"
  [descriptionKey]="translationKeys.auth.register.description">
  <form
    class="register-form"
    (ngSubmit)="onSubmit()">
    <app-input
      [control]="registerForm.email"
      [type]="'email'"
      [label]="translationKeys.auth.fields.email | translate"
      [isClearable]="true" />
    <app-input
      [control]="registerForm.password"
      [type]="'password'"
      [label]="translationKeys.auth.fields.password | translate" />
    <app-input
      [control]="registerForm.confirmPassword"
      [type]="'password'"
      [label]="translationKeys.auth.fields.confirmPassword | translate"
      [errorText]="confirmPasswordError ?? ''" />

    <app-button
      [variant]="'flat'"
      [loading]="isSubmitting"
      [disabled]="isSubmitting"
      (clicked)="onSubmit()">
      {{ translationKeys.auth.register.submit | translate }}
    </app-button>
  </form>

  <p class="register-form__footer">
    {{ translationKeys.auth.register.haveAccount | translate }}
    <a [routerLink]="loginLink">{{ translationKeys.auth.register.goToLogin | translate }}</a>
  </p>
</app-auth-layout>
