@let isMobile = this.isMobile();
@let themeOptions = this.themeOptions();
@let languageOptions = this.languageOptions();
@let isAuthenticated = this.isAuthenticated();
@let isSigningOut = this.isSigningOut();

<nav
  class="side-menu"
  [attr.aria-label]="navAriaLabelKey | translate">
  @if (isAuthenticated) {
    <mat-nav-list class="side-menu__list">
      <a href="#"></a>
      @if (isMobile) {
        @for (link of primaryNavLinks; track link.path) {
          <a
            mat-list-item
            class="side-menu__link"
            [routerLink]="link.path"
            routerLinkActive="side-menu__link--active"
            (click)="onLinkClicked()">
            <app-icon matListItemIcon>{{ link.icon }}</app-icon>
            <span matListItemTitle>{{ link.translationKey | translate }}</span>
          </a>
        }
      }

      @for (link of secondaryNavLinks; track link.path) {
        <a
          mat-list-item
          class="side-menu__link"
          [routerLink]="link.path"
          routerLinkActive="side-menu__link--active"
          (click)="onLinkClicked()">
          <app-icon matListItemIcon>{{ link.icon }}</app-icon>
          <span matListItemTitle>{{ link.translationKey | translate }}</span>
        </a>
      }
    </mat-nav-list>
  }

  <div class="side-menu__footer">
    <app-button-toggle
      class="side-menu__toggle"
      [control]="settingsForm.theme"
      [options]="themeOptions"
      [hideIndicator]="true"
      (optionChanged)="onThemeChanged($event)" />
    <app-button-toggle
      class="side-menu__toggle"
      [control]="settingsForm.language"
      [options]="languageOptions"
      [hideIndicator]="true"
      (optionChanged)="onLanguageChanged($event)" />
    @if (isAuthenticated) {
      <app-button
        class="side-menu__sign-out"
        [variant]="'stroked'"
        [icon]="signOutIcon"
        [loading]="isSigningOut"
        [disabled]="isSigningOut"
        (clicked)="onSignOut()">
        {{ signOutLabelKey | translate }}
      </app-button>
    }
  </div>
</nav>
