@use './styles/theme';

html {
  height: 100%;
}

body {
  background-color: var(--app-color-surface);
  color: var(--app-color-on-surface);
  font: var(--app-typography-body-medium);
  margin: 0;
  height: 100%;
}
