:host {
  display: block;
  height: 100%;
}

.app-shell-root {
  height: 100%;
  background-color: var(--app-color-surface);
}

.app-shell-root__drawer {
  width: min(320px, 85vw);
  border-left: 1px solid var(--app-color-outline-variant);
}

.app-shell-root__content {
  display: flex;
  flex-direction: column;
}

.app-shell-root__main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}
