:host {
  display: block;
}

.app-input-select {
  width: 100%;
}

.app-input-select-error-icon {
  color: var(--app-color-error);
}

.app-option-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--app-spacing-xs);
}

.select-index {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--app-color-primary);
  color: var(--app-color-on-primary);
}

.select-icon-warning {
  color: var(--app-color-error);
}

.select-name {
  text-overflow: ellipsis;
  overflow: clip;
}
