@let icons = this.icons;
@let control = this.control();
@let items = this.items();
@let labelText = this.labelText();
@let placeholder = this.placeholder();
@let appearance = this.appearance();
@let floatLabel = this.floatLabel();
@let multiple = this.multiple();
@let showAsNumbered = this.showAsNumbered();
@let hideErrorField = this.hideErrorField();
@let errorText = this.errorText();
@let hasError = this.hasError();
@let selectedItemsText = this.selectedItemsText();

<mat-form-field
  class="app-input-select"
  [appearance]="appearance"
  [floatLabel]="floatLabel"
  [class.hide-error-field]="hideErrorField">
  @if (labelText) {
    <mat-label>{{ labelText }}</mat-label>
  }
  <mat-select
    [formField]="control"
    [multiple]="multiple"
    [placeholder]="placeholder"
    (closed)="closed.emit()">
    <mat-select-trigger>
      <div class="select-name">{{ selectedItemsText }}</div>
    </mat-select-trigger>
    @for (item of items; track item.id; let i = $index) {
      <mat-option [value]="item.id">
        <div class="app-option-content">
          @if (item.icon) {
            <app-icon [class]="'select-icon select-icon-' + item.icon">{{ item.icon }}</app-icon>
          } @else if (showAsNumbered) {
            <div class="select-index">{{ i + 1 }}</div>
          }
          <div class="select-name">{{ item.name }}</div>
        </div>
      </mat-option>
    }
  </mat-select>
  @if (hasError) {
    <app-icon
      matSuffix
      class="app-input-select-error-icon">
      {{ icons.error }}
    </app-icon>
  }
  @if (hasError && errorText) {
    <mat-error [matTooltip]="errorText">{{ errorText }}</mat-error>
  }
</mat-form-field>
